<div style="text-align: left; background-color:#CFD9F1; font-family: Trebuchet MS; color:#0A3399; padding: 12px; line-height:1.25;border-radius:1px; margin-bottom: 0em; text-align: center; font-size: 58px;border-style: solid;border-color: dark green;">Lab03: Iris</div>

<img src="Iris.jpg" alt="Iris">

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

<a id="3"></a>
# <div style="text-align: left; background-color:#CFD9F1 ; font-family: Trebuchet MS; color: #0A3399; padding: 15px; line-height:1;border-radius:1px; margin-bottom: 0em; text-align: center; font-size: 25px;border-style: solid;border-color: dark green;">T√¨m hi·ªÉu v·ªÅ t·∫≠p d·ªØ li·ªáu üìå</div>

In [2]:
iris_df = pd.read_csv('Iris.csv')
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## **<span style="color:#0A3399">1. X√©t c√°c h√†ng v√† c√°c c·ªôt</span>**

In [4]:
n_rows , n_cols = iris_df.shape
print(f'D·ªØ li·ªáu c√≥ {n_rows} d√≤ng v√† {n_cols} c·ªôt')

D·ªØ li·ªáu c√≥ 150 d√≤ng v√† 6 c·ªôt

## **<span style="color:#0A3399;">2. √ù nghƒ©a c·ªßa h√†ng v√† c·ªôt</span>**

In [5]:
iris_df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

+ M·ªói h√†ng l√† th√¥ng tin v·ªÅ m·ªôt m·∫´u hoa Iris c·ª• th·ªÉ 

+ √ù nghƒ©a c·ªßa t·ª´ng c·ªôt trong d·ªØ li·ªáu ƒë∆∞·ª£c t√≥m t·∫Øt trong b·∫£ng sau:

| **T√äN C·ªòT**       | **M√î T·∫¢**                                                 | **KI·ªÇU D·ªÆ LI·ªÜU** |
|---------------|--------------------------------------------------------|---------------
| **`Id`**            | M√£ s·ªë ƒë·ªãnh danh duy nh·∫•t cho m·ªói m·∫´u hoa Iris.        | S·ªë nguy√™n (Int)     |
| **`SepalLengthCm`** | ƒê·ªô d√†i c·ªßa l√° ƒë√†i (sepal) trong ƒë∆°n v·ªã centimet.     | S·ªë th·ª±c (Float)      |
| **`SepalWidthCm`**  | ƒê·ªô r·ªông c·ªßa l√° ƒë√†i (sepal) trong ƒë∆°n v·ªã centimet.    | S·ªë th·ª±c (Float)      |
| **`PetalLengthCm`** | ƒê·ªô d√†i c·ªßa c√°nh hoa (petal) trong ƒë∆°n v·ªã centimet.   | S·ªë th·ª±c (Float)     |
| **`PetalWidthCm`**  | ƒê·ªô r·ªông c·ªßa c√°nh hoa (petal) trong ƒë∆°n v·ªã centimet.  | S·ªë th·ª±c (Float)      |
| **`Species`**       | Lo√†i c·ªßa hoa Iris.                                     | Chu·ªói (String)       |

## **<span style="color:#0A3399;">3. Ki·ªÉm tra v√† x·ª≠ l√Ω tr√πng l·∫Øp d·ªØ li·ªáu</span>**

In [6]:
duplicated_rows = iris_df.duplicated().sum()

if duplicated_rows == 0:
    print('Kh√¥ng c√≥ h√†ng tr√πng l·∫∑p, nghƒ©a l√† m·ªói h√†ng trong DataFrame l√† duy nh·∫•t.')
    print('V√¨ v·∫≠y ch√∫ng ta kh√¥ng c·∫ßn ti·∫øp t·ª•c x·ª≠ l√Ω c√°c d√≤ng tr√πng l·∫∑p')
else:
    print(f'C√≥ {duplicated_rows} h√†ng tr√πng l·∫∑p chi·∫øm t·ª∑ l·ªá {np.round(duplicated_rows / iris_df.shape[0] * 100, 2)} % v√¨ v·∫≠y n√™n ch√∫ng ta s·∫Ω x√≥a {duplicated_rows} h√†ng')
    iris_df = iris_df.drop_duplicates()
    print(f'Sau khi x√≥a c√°c h√†ng tr√πng l·∫∑p, c√≥ {iris_df.shape[0]} h√†ng c√≤n l·∫°i')

Kh√¥ng c√≥ h√†ng tr√πng l·∫∑p, nghƒ©a l√† m·ªói h√†ng trong DataFrame l√† duy nh·∫•t.
V√¨ v·∫≠y ch√∫ng ta kh√¥ng c·∫ßn ti·∫øp t·ª•c x·ª≠ l√Ω c√°c d√≤ng tr√πng l·∫∑p

## **<span style="color:#0A3399;">4. Xem x√©t ki·ªÉu d·ªØ li·ªáu c·ªßa c√°c c·ªôt</span>**

<div style="border-radius:10px;
            border :#0A0104 solid;
            padding: 15px;
            background-color:#FFF0F5 ;
           font-size:110%;
            text-align: left;
            color: black;">
Trong ph·∫ßn n√†y, ch√∫ng t√¥i s·∫Ω ki·ªÉm tra c√°c lo·∫°i d·ªØ li·ªáu hi·ªán t·∫°i c·ªßa t·ª´ng c·ªôt v√† chuy·ªÉn ƒë·ªïi ch√∫ng th√†nh lo·∫°i d·ªØ li·ªáu ch√≠nh x√°c n·∫øu c·∫ßn.

<h2 style="color:#034914 ;font-size: 1em "><b>Ki·ªÉm tra ki·ªÉu d·ªØ li·ªáu hi·ªán t·∫°i c·ªßa t·ª´ng c·ªôt

In [7]:
iris_df.dtypes.to_frame('Data Type')

              Data Type
Id                int64
SepalLengthCm   float64
SepalWidthCm    float64
PetalLengthCm   float64
PetalWidthCm    float64
Species          object

<div style="border-radius:10px;
            border :#0A0104 solid;
            padding: 15px;
            background-color:#FFF0F5 ;
           font-size:110%;
            text-align: left;
            color: black;">

Ki·ªÉu d·ªØ li·ªáu ·ªü c√°c c·ªôt ƒë·ªÅu h·ª£p l√Ω n√™n ch√∫ng ta s·∫Ω di chuy·ªÉn ƒë·∫øn b∆∞·ªõc k·∫ø ti·∫øp.

## **<span style="color:#0A3399;">5. X·ª≠ l√Ω c√°c c·ªôt v√† h√†ng b·ªã thi·∫øu gi√° tr·ªã</span>**

#### üëâT·ª∑ l·ªá thi·∫øu ·ªü c√°c c·ªôt

In [8]:
missing_dict = {}

for col in iris_df.columns:
    if type(iris_df[col].iloc[0]) == list:
        missing_dict[col] = iris_df[col].apply(lambda x: len(x) == 0).sum() / iris_df.shape[0] * 100
    else:
        missing_dict[col] = iris_df[col].isna().sum() / iris_df.shape[0] * 100
        
missing_df = pd.DataFrame({'Missing Ratio (%)': missing_dict})
missing_df = missing_df.sort_values(by='Missing Ratio (%)', ascending=False)
missing_df = missing_df[missing_df['Missing Ratio (%)'] > 0]
missing_df

Empty DataFrame
Columns: [Missing Ratio (%)]
Index: []

<div style="border-radius:10px;
            border :#0A0104 solid;
            padding: 15px;
            background-color:#FFF0F5 ;
           font-size:110%;
            text-align: left;
            color: black;">

T·∫≠p d·ªØ li·ªáu Iris **kh√¥ng thi·∫øu th√¥ng tin ·ªü b·∫•t k·ª≥ c·ªôt n√†o**. ƒêi·ªÅu n√†y c√≥ nghƒ©a l√† m·ªói m·∫´u hoa Iris trong t·∫≠p d·ªØ li·ªáu ƒë·ªÅu c√≥ ƒë·∫ßy ƒë·ªß th√¥ng tin v·ªÅ ƒë·ªô d√†i v√† ƒë·ªô r·ªông c·ªßa l√° ƒë√†i (sepal), ƒë·ªô d√†i v√† ƒë·ªô r·ªông c·ªßa c√°nh hoa (petal), v√† lo√†i hoa Iris t∆∞∆°ng ·ª©ng. ƒêi·ªÅu n√†y gi√∫p ƒë·∫£m b·∫£o t√≠nh to√†n v·∫πn c·ªßa d·ªØ li·ªáu v√† thu·∫≠n l·ª£i cho qu√° tr√¨nh ph√¢n t√≠ch v√† khai th√°c th√¥ng tin t·ª´ t·∫≠p d·ªØ li·ªáu.

#### üëâT·ª∑ l·ªá thi·∫øu ·ªü c√°c h√†ng

In [9]:
number_missing_per_row = iris_df.isna().sum(axis=1)
missing_per_row_df = pd.DataFrame({'Number of Rows': number_missing_per_row.value_counts().sort_index()})
missing_per_row_df.index.name = 'Number of Missing Values'
missing_per_row_df['Percentage'] = (missing_per_row_df['Number of Rows'] / iris_df.shape[0] * 100).round(2)
missing_per_row_df

                          Number of Rows  Percentage
Number of Missing Values
0                                    150       100.0

<div style="border-radius:10px;
            border :#0A0104 solid;
            padding: 15px;
            background-color:#FFF0F5 ;
           font-size:110%;
            text-align: left;
            color: black;">

M·ªói d√≤ng trong t·∫≠p d·ªØ li·ªáu ƒë·ªÅu c√≥ ƒë·∫ßy ƒë·ªß c√°c c·ªôt v√† kh√¥ng b·ªã thi·∫øu

<a id="4"></a>
# <div style="text-align: left; background-color:#CFD9F1 ; font-family: Trebuchet MS; color: #0A3399; padding: 15px; line-height:1;border-radius:1px; margin-bottom: 0em; text-align: center; font-size: 25px;border-style: solid;border-color: dark green;">Ph√¢n t√≠ch v√† kh√°m ph√° d·ªØ li·ªáu 1D üìä</div>

<div style="border-radius:10px;
            border :#0A0104 solid;
            padding: 15px;
            background-color:#FFF0F5 ;
           font-size:110%;
            text-align: left;
            color: black;">
ƒê·ªÉ kh√°m ph√° s·ª± ph√¢n b·ªë c·ªßa c√°c c·ªôt, ch√∫ng ta s·∫Ω l√†m theo c√°c b∆∞·ªõc sau:

- C·ªôt s·ªë:
     - T√≠nh to√°n v√† gi·∫£i th√≠ch **s·ªë li·ªáu th·ªëng k√™ t√≥m t·∫Øt** c·ªßa c√°c c·ªôt
     - V·∫Ω **bi·ªÉu ƒë·ªì** ƒë·ªÉ hi·ªÉu r√µ h∆°n v·ªÅ s·ª± ph√¢n b·ªë c·ªßa c√°c c·ªôt

- C√°c c·ªôt kh√¥ng ph·∫£i ki·ªÉu s·ªë:
     - T√≠nh s·ªë **gi√° tr·ªã duy nh·∫•t** trong m·ªói c·ªôt
     - V·∫Ω **bi·ªÉu ƒë·ªì** ƒë·ªÉ hi·ªÉu r√µ h∆°n v·ªÅ s·ª± ph√¢n b·ªë c·ªßa c√°c c·ªôt

<a id="4.1"></a>
## **<span style="color:#0A3399;">1. C√°c c·ªôt ki·ªÉu s·ªë</span>**

<div style="border-radius:10px;
            border :#0A0104 solid;
            padding: 15px;
            background-color:#FFF0F5 ;
           font-size:110%;
            text-align: left;
            color: black;">
ƒê·ªëi v·ªõi c√°c c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu s·ªë, ch√∫ng ta s·∫Ω t√≠nh:

- T·ª∑ l·ªá ph·∫ßn trƒÉm (t·ª´ 0 ƒë·∫øn 100) gi√° tr·ªã b·ªã thi·∫øu
- T·ªëi thi·ªÉu
- T·ª© ph√¢n v·ªã d∆∞·ªõi
- Trung v·ªã
- T·ª© ph√¢n v·ªã tr√™n
- T·ªëi ƒëa

Ch√∫ng ta s·∫Ω l∆∞u k·∫øt qu·∫£ v√†o DataFrame `num_col_dist_df`, trong ƒë√≥:
- T√™n c√°c c·ªôt l√† t√™n c√°c c·ªôt s·ªë trong `data`
- T√™n c√°c h√†ng: `missing_ratio`, `min`, `low_quartile`, `median`, `upper_quartile`, `max`

In [10]:
numeric_cols = iris_df.select_dtypes(exclude=['object']).columns
num_col_dist_df = iris_df[numeric_cols].copy()
missing_percentage = num_col_dist_df.isna().mean() * 100

num_col_dist_df = num_col_dist_df.describe(percentiles=[.25, .5, .75]).round(2)
num_col_dist_df.loc['missing ratios'] = missing_percentage

num_col_dist_df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
count,150.00,150.00,150.00,150.00,150.00
mean,75.50,5.84,3.05,3.76,1.20
std,43.45,0.83,0.43,1.76,0.76
min,1.00,4.30,2.00,1.00,0.10
25%,38.25,5.10,2.80,1.60,0.30
50%,75.50,5.80,3.00,4.35,1.30
75%,112.75,6.40,3.30,5.10,1.80
max,150.00,7.90,4.40,6.90,2.50
missing ratios,0.00,0.00,0.00,0.00,0.00